/***************animation loader*******************/
.container-loader {
  position: fixed;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  opacity: 0.9;
  z-index: 1;
  animation: disappear 1s 1s forwards;
  display: grid;
  place-items: center;
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.circle-loader {
  border: 10px solid #ffffff;
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #99e2d0;
  border-radius: 50%;
  inset: 0;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
header {
  width: 100%;
  height: 96px;
}

.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  object-fit: cover;
  width: 200px;
  height: 34.2px;
  margin-top: 30px;
  margin-bottom: 31.8px;
}

.position {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #eaeaea;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}

.container-grey-home {
  width: 100%;
  height: 155px;
  background-color: #f6f6f6;
  padding-bottom: 57px;
  padding-top: 39px;
}
.container-grey-home .title {
  text-align: center;
}
.container-grey-home h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 18.75px;
  font-size: 40px;
  margin-top: 0px;
}
.container-grey-home p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 21.09px;
  padding: 18px 0 18px 0;
}

br {
  display: none;
}

.container-btn-home {
  display: flex;
  justify-content: center;
}

.btn-home {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  font-weight: 500;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  line-height: 46px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  transition: all 1500ms;
}
.btn-home a {
  text-decoration: none;
  color: white;
  padding-left: 0px;
}
.btn-home:hover {
  opacity: 0.6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.container-white {
  width: 100%;
  height: 230px;
  display: flex;
  flex-direction: column;
}
.container-white h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  margin: 48px 0px -15px 10%;
}

.buton-operation {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  margin-right: 90px;
  margin-left: 55px;
}
.buton-operation a {
  white-space: nowrap;
  width: 27%;
  font-family: "Roboto", sans-serif;
  border-radius: 25px;
  font-weight: 500;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background: #f6f6f6;
}
.buton-operation i {
  margin-right: 27px;
}
.buton-operation .fa-solid:hover {
  color: #9356dc;
}

.circle {
  width: 24px;
  height: 24px;
  background-color: #9356dc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #ffffff;
  position: relative;
  top: 20px;
  left: 25px;
}

.container-cards {
  width: 100%;
  height: 780px;
  margin-top: 30px;
  background-color: #f6f6f6;
}
.container-cards h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding-top: 30px;
  margin: 0px;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(2, 35%);
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}
.container-grid .title-grid {
  justify-self: flex-start;
  align-self: center;
}

.card-restaurant {
  position: relative;
  margin-top: 28px;
  width: 100%;
  height: 315px;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: none;
}
.card-restaurant img {
  position: relative;
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}
.card-restaurant .link {
  text-decoration: none;
  color: #000000;
}
.card-restaurant i {
  font-size: 27px;
}
.card-restaurant .heart-home .fa-solid {
  position: absolute;
  right: 30px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 0;
  background-image: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  transition: all 750ms ease-in-out;
}
.card-restaurant .heart-home:hover .fa-solid {
  opacity: 1;
  transform: scale(1.1);
}

.cards-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}
.cards-content p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 19.92px;
  margin: 0px;
}
.cards-content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
  margin-bottom: 10px;
}

.new-green {
  position: absolute;
  width: 80px;
  top: 3%;
  left: 80%;
  height: 29px;
  background-color: #99e2d0;
  box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  padding-top: 8px;
  border-radius: 5px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: center;
  color: #008766;
}

.new2-green {
  position: absolute;
  top: 3%;
  left: 80%;
  width: 80px;
  height: 29px;
  background-color: #99e2d0;
  box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  padding-top: 8px;
  border-radius: 5px;
  text-align: center;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  text-align: center;
  color: #008766;
}

.container-footer {
  width: 100%;
  height: 114px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: flex-end;
  background-color: #353535;
}

.display-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 30px;
}
.display-footer p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  margin: 0px;
}
.display-footer i {
  margin-right: 10px;
}
.display-footer a {
  text-decoration: none;
}

.logo-footer {
  margin-bottom: 26px;
}

.text-footer {
  display: flex;
}

@media (max-width: 970.98px) {
  /* header*/
  header {
    position: relative;
    height: 64px;
  }
  .logo {
    width: 100%;
    height: 63px;
    box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  }
  .logo img {
    width: 270px;
    height: 44px;
    margin: auto;
  }
  .position {
    width: 100%;
    height: 50px;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #eaeaea;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2509803922);
    margin: 0px;
    gap: 17px;
  }
  .position p {
    font-family: "Roboto", sans-serif;
    margin: 0px;
  }
  .container-grey-home {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    height: 260px;
    background-color: #f6f6f6;
    z-index: -10;
  }
  .title h1 {
    line-height: 40.13px;
  }
  .title p {
    font-size: 18px;
    font-weight: 300;
    line-height: 21.09px;
  }
  .title br {
    display: inline-block;
  }
  .btn-home {
    display: block;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    font-weight: 500;
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    line-height: 46px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    transition: all 2500ms;
  }
  .btn-home a {
    text-decoration: none;
    color: white;
    padding-left: 0px;
  }
  .btn-home a:hover {
    opacity: 0.6;
  }
  .container-grey-home {
    margin-top: 3px;
  }
  .container-white {
    width: 100%;
    height: 380px;
  }
  .container-white h2 {
    margin-left: 20px;
    margin-top: 48px;
    margin-bottom: 0px;
  }
  .buton-operation {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    gap: 3px;
    padding-top: 0px;
    margin: 0px;
  }
  .buton-operation i {
    margin-right: 27px;
  }
  .buton-operation a {
    width: 335px;
    font-family: "Roboto", sans-serif;
    border-radius: 25px;
    font-weight: 500;
    line-height: 70px;
    box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
    text-align: center;
    text-decoration: none;
    color: #000000;
    background: #f6f6f6;
  }
  .circle {
    width: 24px;
    height: 24px;
    background-color: #9356dc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: white;
    position: relative;
    top: 50px;
    left: -12px;
  }
  .container-grid {
    display: grid;
    grid-template-columns: repeat(1, 90%);
    margin: 0px;
    gap: 10px;
  }
  .container-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1650px;
    background-color: #f6f6f6;
    padding-right: 10px;
  }
  .container-cards h1 {
    padding-top: 54px;
  }
  .card-restaurant {
    width: 100%;
    height: 330px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .card-restaurant img {
    object-fit: cover;
  }
  .card-restaurant .heart-home .fa-solid {
    position: absolute;
    color: transparent;
    background-image: linear-gradient(to top, #ff79da, #9356dc);
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 750ms;
    right: 29.8px;
  }
  .card-restaurant .heart-home:hover .fa-solid {
    opacity: 1;
    transform: scale(1.02);
  }
  .card-text {
    margin-right: 70px;
  }
  .card-text i {
    width: 22px;
    height: 21px;
    width: 22px;
    height: 21px;
  }
  .new-green {
    position: absolute;
    top: 13%;
    left: 80%;
    height: 29px;
    background-color: #99e2d0;
    box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
    padding-top: 8px;
    border-radius: 5px;
  }
  .new-green .new2-green p {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    text-align: center;
    color: #008766;
  }
  .new2-green {
    position: absolute;
    top: 8%;
    left: 80%;
    width: 80px;
    height: 29px;
    background-color: #99e2d0;
    box-shadow: 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
    padding-top: 8px;
    border-radius: 5px;
  }
  .img-rst img {
    width: 100%;
    height: 373px;
    object-fit: cover;
  }
  .container-footer {
    width: 100%;
    height: 186px;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0px;
    padding-left: 25px;
  }
  .logo-footer {
    width: 139px;
    height: 27px;
    margin-top: 22px;
    margin-bottom: 16px;
  }
  .display-footer {
    display: flex;
    flex-direction: column;
  }
  .display-footer p {
    margin: 0px;
  }
  .display-footer i {
    padding-left: 0px;
  }
  .text-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 0px;
  }
}
/*************************animation menu********************/
.entries-anim {
  opacity: 0;
  animation: descend 2s ease forwards;
}

@keyframes descend {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.plats-anim {
  opacity: 0;
  animation: descend-two 2s ease forwards 2500ms;
}

@keyframes descend-two {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.desserts-anim {
  opacity: 0;
  animation: descend-three 2s ease forwards 4500ms;
}

@keyframes descend-three {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/************************************************************/
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.shrikhand-regular {
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 28px;
  font-style: italic;
}

.logo-icon {
  width: 100%;
  display: flex;
  padding-top: 30px;
  justify-content: flex-start;
  align-items: center;
  gap: 42%;
}
.logo-icon img {
  width: 200px;
  height: 34.2px;
  object-fit: cover;
}
.logo-icon i {
  font-size: 22px;
  color: #000000;
}

.img-rst img {
  width: 100%;
  height: 383px;
  object-fit: cover;
}

.container-desktop-rst {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: -60px;
}

.container-grey-rst {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  width: 70%;
  background-color: #eaeaea;
  border-radius: 40px 40px 0 0;
  gap: 40px;
}
.container-grey-rst .menu {
  margin-left: 13px;
  margin-right: 30px;
}
.container-grey-rst h2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  height: 27px;
}
.container-grey-rst .title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.container-grey-rst h1 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
}
.container-grey-rst i {
  font-size: 27px;
}
.container-grey-rst .icon .fa-solid {
  position: relative;
  color: transparent;
  background-image: linear-gradient(to top, #ff79da, #9356dc);
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 750ms ease-in-out;
  right: 30px;
}
.container-grey-rst .icon .fa-solid:hover {
  opacity: 1;
  transform: scale(1.02);
}

.container-grey-rst-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  width: 70%;
  background-color: #eaeaea;
  border-radius: 40px 40px 0px 0px;
  gap: 40px;
}
.container-grey-rst-2 .menu {
  margin-left: 13px;
  margin-right: 30px;
}
.container-grey-rst-2 h2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
  height: 27px;
}
.container-grey-rst-2 .title-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.container-grey-rst-2 h1 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
}
.container-grey-rst-2 i {
  font-size: 27px;
}
.container-grey-rst-2 .icon .fa-solid {
  position: relative;
  color: transparent;
  background-image: linear-gradient(to top, #ff79da, #9356dc);
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 2000ms ease-in-out;
  right: 30px;
}
.container-grey-rst-2 .icon .fa-solid:hover {
  opacity: 1;
  transform: scale(1.02);
}

.buton-menu {
  width: 100%;
  height: 69px;
  border-radius: 15.04px;
  margin-top: 12px;
  background-color: white;
  padding-left: 15px;
  position: relative;
  overflow: hidden;
}
.buton-menu h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 0px;
}
.buton-menu .text-menu {
  display: flex;
  flex-direction: column;
  margin-right: 13.5px;
  font-family: "Roboto", sans-serif;
  font-size: 15.04px;
  font-weight: 300;
}
.buton-menu .text-menu p {
  width: 100%;
  border: none;
  margin-bottom: 0px;
  margin-top: 5px;
}
.buton-menu .click {
  background-color: #99e2d0;
  min-width: 60px;
  height: 70px;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -62px;
  transition: transform 750ms ease;
}
.buton-menu .click .fa-solid {
  color: white;
  left: 2px;
}

.price-menu {
  font-family: "Roboto", sans-serif;
  font-size: 15.04px;
  font-weight: 700;
  color: #000000;
  font-weight: 600;
  position: absolute;
  top: 40px;
  right: 20px;
  transition: transform 750ms ease;
}

p {
  transition: transform 750ms ease;
}

h3 {
  transition: transform 750ms ease;
}

.buton-menu:hover .click {
  transform: translateX(-62px);
  transition: transform 750ms ease;
}
.buton-menu:hover .click i {
  color: #f6f6f6;
}
.buton-menu:hover .price-menu {
  transform: translateX(-62px);
  transition: transform 750ms ease;
}
.buton-menu:hover h3 {
  width: 55%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: transform 750ms ease;
}
.buton-menu:hover p {
  width: 55%;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: transform 750ms ease;
}

.container-btn {
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-around;
}

.container-footer {
  width: 100%;
  height: 114px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: flex-end;
  background-color: #353535;
}
.container-footer p {
  font-family: "Roboto", sans-serif;
}

.btn {
  display: block;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  font-weight: 500;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  line-height: 46px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  transition: 1500ms;
}
.btn a {
  text-decoration: none;
  color: white;
  padding-left: 0px;
}
.btn:hover {
  opacity: 0.6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.display-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 30px;
}
.display-footer p {
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  margin: 0px;
}
.display-footer i {
  margin-right: 10px;
}

.logo-footer {
  margin-bottom: 26px;
  margin-right: 50px;
}

.text-footer {
  display: flex;
  gap: 10px;
  margin-left: 30px;
  margin-right: 25px;
}
.text-footer p {
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
}

@media (min-width: 168px) and (max-width: 970px) {
  .logo-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 14px 0px 6px 0px;
    margin: 0px;
    gap: 26%;
  }
  .logo-icon img {
    width: 260px;
    height: 44px;
    object-fit: cover;
  }
  .logo-icon i {
    color: #000000;
  }
  .container-desktop-rst {
    position: relative;
    display: flex;
  }
  .container-grey-rst {
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    background-color: #f6f6f6;
  }
  .container-grey-rst .menu {
    margin-left: 13px;
    margin-right: 30px;
  }
  .container-grey-rst p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.75px;
    border-bottom: 3px solid #99e2d0;
    width: 40px;
    height: 27px;
  }
  .container-grey-rst .title-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 31px 0 0 17px;
  }
  .container-grey-rst h1 {
    padding: 0px;
  }
  .container-grey-rst i {
    font-size: 27px;
  }
  .container-grey-rst .icon .fa-solid {
    position: relative;
    color: transparent;
    background-image: linear-gradient(to top, #ff79da, #9356dc);
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 750ms ease-in-out;
    right: 30.8px;
  }
  .container-grey-rst .icon:hover .fa-solid {
    opacity: 1;
    transform: scale(1.02);
  }
  .container-grey-rst-2 {
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    background-color: #eaeaea;
  }
  .container-grey-rst-2 .menu {
    margin-left: 13px;
    margin-right: 30px;
  }
  .container-grey-rst-2 h1 {
    font-family: "Shrikhand", serif;
    font-size: 28px;
    padding-left: 17px;
  }
  .container-grey-rst-2 p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 18.75px;
    border-bottom: 3px solid #99e2d0;
    width: 40px;
    height: 27px;
  }
  .container-grey-rst-2 i {
    font-size: 27px;
  }
  .container-grey-rst-2 .title-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 31px 0px 0 17px;
  }
  .icon .fa-solid {
    position: relative;
    color: transparent;
    background-image: linear-gradient(to top, #ff79da, #9356dc);
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 2000ms ease-in-out;
    right: 30.8px;
  }
  .icon .fa-solid:hover {
    opacity: 1;
    transform: scale(1.02);
  }
  .buton-menu {
    width: 100%;
    height: 69px;
    border-radius: 15.04px;
    margin-top: 12px;
    padding-left: 15px;
  }
  .buton-menu a {
    text-decoration: none;
    color: #000000;
  }
  .buton-menu h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
  .buton-menu .text-menu {
    display: flex;
    flex-direction: column;
    margin-right: 13.5px;
    font-family: "Roboto", sans-serif;
    font-size: 15.04px;
    font-weight: 300;
  }
  .price-menu {
    font-family: "Roboto", sans-serif;
    font-size: 15.04px;
    font-weight: 700;
  }
  .container-btn {
    width: 100%;
  }
  .container-footer {
    width: 100%;
    height: 186px;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 25px;
    gap: 0px;
  }
  .logo-footer {
    width: 139px;
    height: 27px;
    margin-top: 22px;
    margin-bottom: 16px;
  }
  .display-footer {
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap: 7px;
  }
  .display-footer p {
    margin: 0px;
  }
  .display-footer i {
    padding-left: 0px;
  }
  .text-footer {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
